{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<main>
  <nav>
    <h2>Categories</h2>
    {% if 'user_id' in login_session %}
      <a href="{{ url_for('createCategory') }}">Add new Category</a>
    {% endif %}
    <ul>
      <li><a href="{{ url_for('showCategories') }}">Home</li>
      {% for category in categories %}
      <li><a href="{{ url_for('showCatalogItems',
                              category_name=category.name) }}">
      {{ category.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <article>
    <h2>{{ actualcategory.name }}</h2>
    {% if 'user_id' in login_session %}
      <a href="{{ url_for('createCatalogItem') }}">Add new Item</a>
    {% endif %}
    <ul>
    {% for item in items %}
      <li><a href="{{ url_for('showCatalogItemDetail',
                              category_name=item.category.name,
                              catalog_item=item.title) }}">
        {{ item.title }}</a></li>
    {% endfor %}
    </ul>
  </article>
</main>
{% endblock %}
