{% extends "main.html" %}
{% block content %}
<!-- {% include "header.html" %} -->
<main>
  <aside>
    <h2>Categories</h2>
    {% if 'username' in login_session %}
      <a href="{{ url_for('createCategory') }}">Add new Category</a>
    {% endif %}
    <ul>
    {% for category in categories %}
      <li><a href="{{ url_for('showCatalogItems', category_name=category) }}">
        {{ category }}</a></li>
    {% endfor %}
    </ul>
  </aside>
  <section>
    <h2>Lastest Items</h2>
    {% if 'username' in login_session %}
      <a href="{{ url_for('createCatalogItem') }}">Add new Item</a>
    {% endif %}
    <ul>
    {% for x in range(0, 10) %}
      <li>Item {{ x }}</li>
    {% endfor %}
  </section>
</main>
{% endblock %}
